<!DOCTYPE html>
<html>
<head>
  <title>Minecurso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <ul>
    <li>
      <%= link_to 'pessoas', people_path %>
    </li>
    <li>
      <%= link_to 'serviços', services_path %>
    </li>
  </ul>


<div class="container">
  <%= yield %>
</div>
</body>
</html>
